body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  border: 10px solid #6d6d6d;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
}

.personaje {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(img/probar.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin: 0;
  margin: 0;
}

.moneda {
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url(img/gotasangre.png);
  border-radius: 50%;
  background-size: contain;
  animation: respirar 2s ease-in-out infinite; 
}  
@keyframes respirar {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.2); /* Expande un 10% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}


.obstaculo {
  position: absolute;
  width: 110px;
  height: 110px;
  background-image: url(img/ajo.png);
  background-size: contain;
  margin: 15px;
  z-index: 5;
}
#puntos { 
  font-size: 20px; 
  text-align: center; 
  margin: 10px 0; 
}