body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url("img/fondo3.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  border: 10px solid #4be60d;
  background-image: url("img/fondovideojuego2.jpg");
  overflow: hidden;
  border-radius: 30px;
}

.personaje {
  position: absolute;
  width: 138px;
  height: 90px;
  background-image: url(img/probar.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin: 0;
  margin: 0;
}

.moneda {
  position: absolute;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url(img/sangre.png);
  background-size: contain;
  background-position: center;
  animation: respirar 2s ease-in-out infinite, resplandor 1.5s infinite alternate; 
}  
@keyframes respirar {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.2); /* Expande un 10% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}
@keyframes resplandor {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.6)); /* Suave */
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 1)); /* Intenso */
  }
}


.obstaculo {
  position: absolute;
  width: 70px;
  height: 90px;
  background-image: url(img/ajo\ copia.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
#puntos { 
  font-size: 20px; 
  text-align: center; 
  margin: 10px 0; 
  color: #00ffff;;
}
h1 {
  font-size: 60px;
  font-family: 'Orbitron', sans-serif; /* Fuente futurista */
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #0088ff, 0 0 40px #0044ff;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#gameOver {
  display: none; 
  text-align: center; 
  color: red; 
  font-size: 30px;
}
